
<header>
    <nav>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="logo" id="logo">
            <img src="/images/1.png" alt="Custom Logo">
        </div>
    </nav>

    <div class="social-icons"  id="socialIcons">
        <a href="https://www.linkedin.com/" target="_blank"><img src="/images/linkedin.png" alt="LinkedIn"></a>
        <a href="https://www.gmail.com/"><img src="/images/gmail.jpg" alt="Gmail"></a>
        <a href="https://www.facebook.com/" target="_blank"><img src="/images/facebook.avif" alt="Facebook"></a>
    </div>
    
</header>