


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/script.js" defer ></script>

</head>
<body class="home">

  <%- include('./partials/header.ejs') %>

    
  

    <!-- Home Page -->
    <section id="home">
        <h1 class="welcome-text">
            <span>Welcome</span> to My Website<span class="cursor">|</span>
        </h1>
        <p class="mission-text">
            <span>Mission Statement:</span> To leverage cutting-edge technology and innovative solutions to create software that not only meets the needs of users but also enhances their experiences. I am committed to continuous learning and improvement, striving for excellence in every line of code I write. My mission is to contribute to the development of reliable, efficient, and user-friendly software applications that make a positive impact on people's lives and drive the future of technology.<span class="cursor">|</span>
        </p>
        <br><br>
        <a href="/about">Learn More</a>
    </section>


    <%- include('./partials/footer.ejs') %>


</body>
</html>