


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/script.js" defer ></script>


</head>
<body>


    <%- include('./partials/header.ejs') %>




    <!-- Services Page -->
    <section id="services">
        <h2>Services</h2>
        <ul>
            <li>
                <img src="/images/web Dev.jpg" alt="Web Development">
                <p>Web Development</p>
                <p>Description: We specialize in creating responsive and user-friendly websites tailored to your unique business needs.</p>
            </li>
            <li>
                <img src="/images/mobile dev.webp" alt="Mobile App Development">
                <p>Mobile App Development</p>
                <p>Description: Our team is experienced in developing mobile apps for both Android and iOS platforms, ensuring a seamless user experience.</p>
            </li>
            <li>
                <img src="/images/digital marketing.avif" alt="Digital Marketing">
                <p>Digital Marketing</p>
                <p>Description: Boost your online presence with our digital marketing services, including SEO, social media marketing, and content strategy.</p>
            </li>
        </ul>
    </section>

    <%- include('./partials/footer.ejs') %>

</body>
</html>

